.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: var(--margin-row-default);
	margin-left: var(--margin-row-default);

	& > * {
		padding-right: var(--gutter-col-default);
		padding-left: var(--gutter-col-default);
	}

	&.gutter-default {
		margin-right: var(--margin-row-default);
		margin-left: var(--margin-row-default);

		& > * {
			padding-right: var(--gutter-col-default);
			padding-left: var(--gutter-col-default);
		}
	}

	&.gutter-medium {
		margin-right: var(--margin-row-medium);
		margin-left: var(--margin-row-medium);

		& > * {
			padding-right: var(--gutter-col-medium);
			padding-left: var(--gutter-col-medium);
		}
	}

	&.gutter-big {
		margin-right: var(--margin-row-big);
		margin-left: var(--margin-row-big);

		& > * {
			padding-right: var(--gutter-col-big);
			padding-left: var(--gutter-col-big);
		}
	}

	@media (--screen-xs) {
		&.gutter-xs-default {
			margin-right: var(--margin-row-default);
			margin-left: var(--margin-row-default);

			& > * {
				padding-right: var(--gutter-col-default);
				padding-left: var(--gutter-col-default);
			}
		}

		&.gutter-xs-medium {
			margin-right: var(--margin-row-medium);
			margin-left: var(--margin-row-medium);

			& > * {
				padding-right: var(--gutter-col-medium);
				padding-left: var(--gutter-col-medium);
			}
		}

		&.gutter-xs-big {
			margin-right: var(--margin-row-big);
			margin-left: var(--margin-row-big);

			& > * {
				padding-right: var(--gutter-col-big);
				padding-left: var(--gutter-col-big);
			}
		}
	}

	@media (--screen-sm) {
		&.gutter-sm-default {
			margin-right: var(--margin-row-default);
			margin-left: var(--margin-row-default);

			& > * {
				padding-right: var(--gutter-col-default);
				padding-left: var(--gutter-col-default);
			}
		}

		&.gutter-sm-medium {
			margin-right: var(--margin-row-medium);
			margin-left: var(--margin-row-medium);

			& > * {
				padding-right: var(--gutter-col-medium);
				padding-left: var(--gutter-col-medium);
			}
		}

		&.gutter-sm-big {
			margin-right: var(--margin-row-big);
			margin-left: var(--margin-row-big);

			& > * {
				padding-right: var(--gutter-col-big);
				padding-left: var(--gutter-col-big);
			}
		}
	}

	@media (--screen-md) {
		&.gutter-md-default {
			margin-right: var(--margin-row-default);
			margin-left: var(--margin-row-default);

			& > * {
				padding-right: var(--gutter-col-default);
				padding-left: var(--gutter-col-default);
			}
		}

		&.gutter-md-medium {
			margin-right: var(--margin-row-medium);
			margin-left: var(--margin-row-medium);

			& > * {
				padding-right: var(--gutter-col-medium);
				padding-left: var(--gutter-col-medium);
			}
		}

		&.gutter-md-big {
			margin-right: var(--margin-row-big);
			margin-left: var(--margin-row-big);

			& > * {
				padding-right: var(--gutter-col-big);
				padding-left: var(--gutter-col-big);
			}
		}
	}

	@media (--screen-lg) {
		&.gutter-lg-default {
			margin-right: var(--margin-row-default);
			margin-left: var(--margin-row-default);

			& > * {
				padding-right: var(--gutter-col-default);
				padding-left: var(--gutter-col-default);
			}
		}

		&.gutter-lg-medium {
			margin-right: var(--margin-row-medium);
			margin-left: var(--margin-row-medium);

			& > * {
				padding-right: var(--gutter-col-medium);
				padding-left: var(--gutter-col-medium);
			}
		}

		&.gutter-lg-big {
			margin-right: var(--margin-row-big);
			margin-left: var(--margin-row-big);

			& > * {
				padding-right: var(--gutter-col-big);
				padding-left: var(--gutter-col-big);
			}
		}
	}

	@media (--screen-xl) {
		&.gutter-xl-default {
			margin-right: var(--margin-row-default);
			margin-left: var(--margin-row-default);

			& > * {
				padding-right: var(--gutter-col-default);
				padding-left: var(--gutter-col-default);
			}
		}

		&.gutter-xl-medium {
			margin-right: var(--margin-row-medium);
			margin-left: var(--margin-row-medium);

			& > * {
				padding-right: var(--gutter-col-medium);
				padding-left: var(--gutter-col-medium);
			}
		}

		&.gutter-xl-big {
			margin-right: var(--margin-row-big);
			margin-left: var(--margin-row-big);

			& > * {
				padding-right: var(--gutter-col-big);
				padding-left: var(--gutter-col-big);
			}
		}
	}

	@media (--screen-xxl) {
		&.gutter-xxl-default {
			margin-right: var(--margin-row-default);
			margin-left: var(--margin-row-default);

			& > * {
				padding-right: var(--gutter-col-default);
				padding-left: var(--gutter-col-default);
			}
		}

		&.gutter-xxl-medium {
			margin-right: var(--margin-row-medium);
			margin-left: var(--margin-row-medium);

			& > * {
				padding-right: var(--gutter-col-medium);
				padding-left: var(--gutter-col-medium);
			}
		}

		&.gutter-xxl-big {
			margin-right: var(--margin-row-big);
			margin-left: var(--margin-row-big);

			& > * {
				padding-right: var(--gutter-col-big);
				padding-left: var(--gutter-col-big);
			}
		}
	}

	@media (--screen-xxxl) {
		&.gutter-xxxl-default {
			margin-right: var(--margin-row-default);
			margin-left: var(--margin-row-default);

			& > * {
				padding-right: var(--gutter-col-default);
				padding-left: var(--gutter-col-default);
			}
		}

		&.gutter-xxxl-medium {
			margin-right: var(--margin-row-medium);
			margin-left: var(--margin-row-medium);

			& > * {
				padding-right: var(--gutter-col-medium);
				padding-left: var(--gutter-col-medium);
			}
		}

		&.gutter-xxxl-big {
			margin-right: var(--margin-row-big);
			margin-left: var(--margin-row-big);

			& > * {
				padding-right: var(--gutter-col-big);
				padding-left: var(--gutter-col-big);
			}
		}
	}
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.align-items-stretch {
	align-items: stretch;
}

.align-items-center {
	align-items: center;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-initial {
	align-items: initial;
}

.justify-content-flex-start {
	justify-content: flex-start;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-initial {
	justify-content: initial;
}
