@define-mixin gutter-default {
	margin-right: var(--margin-row-default);
	margin-left: var(--margin-row-default);
}

@define-mixin gutter-col-default {
	padding-right: var(--gutter-col-default);
	padding-left: var(--gutter-col-default);
}

@define-mixin gutter-medium {
	margin-right: var(--margin-row-medium);
	margin-left: var(--margin-row-medium);
}

@define-mixin gutter-col-medium {
	padding-right: var(--gutter-col-medium);
	padding-left: var(--gutter-col-medium);
}

@define-mixin gutter-big {
	margin-right: var(--margin-row-big);
	margin-left: var(--margin-row-big);
}

@define-mixin gutter-col-big {
	padding-right: var(--gutter-col-big);
	padding-left: var(--gutter-col-big);
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@mixin gutter-default;

	& > * {
		@mixin gutter-col-default;
	}

	&.gutter-medium {
		@mixin gutter-medium;

		& > * {
			@mixin gutter-col-medium;
		}
	}

	&.gutter-big {
		@mixin gutter-big;

		& > * {
			@mixin gutter-col-big;
		}
	}

	@media (--screen-xs) {
		&.gutter-xs-default {
			@mixin gutter-default;

			& > * {
				@mixin gutter-col-default;
			}
		}

		&.gutter-xs-medium {
			@mixin gutter-medium;

			& > * {
				@mixin gutter-col-medium;
			}
		}

		&.gutter-xs-big {
			@mixin gutter-big;

			& > * {
				@mixin gutter-col-big;
			}
		}
	}

	@media (--screen-sm) {
		&.gutter-sm-default {
			@mixin gutter-default;

			& > * {
				@mixin gutter-col-default;
			}
		}

		&.gutter-sm-medium {
			@mixin gutter-medium;

			& > * {
				@mixin gutter-col-medium;
			}
		}

		&.gutter-sm-big {
			@mixin gutter-big;

			& > * {
				@mixin gutter-col-big;
			}
		}
	}

	@media (--screen-md) {
		&.gutter-md-default {
			@mixin gutter-default;

			& > * {
				@mixin gutter-col-default;
			}
		}

		&.gutter-md-medium {
			@mixin gutter-medium;

			& > * {
				@mixin gutter-col-medium;
			}
		}

		&.gutter-md-big {
			@mixin gutter-big;

			& > * {
				@mixin gutter-col-big;
			}
		}
	}

	@media (--screen-lg) {
		&.gutter-lg-default {
			@mixin gutter-default;

			& > * {
				@mixin gutter-col-default;
			}
		}

		&.gutter-lg-medium {
			@mixin gutter-medium;

			& > * {
				@mixin gutter-col-medium;
			}
		}

		&.gutter-lg-big {
			@mixin gutter-big;

			& > * {
				@mixin gutter-col-big;
			}
		}
	}

	@media (--screen-xl) {
		&.gutter-xl-default {
			@mixin gutter-default;

			& > * {
				@mixin gutter-col-default;
			}
		}

		&.gutter-xl-medium {
			@mixin gutter-medium;

			& > * {
				@mixin gutter-col-medium;
			}
		}

		&.gutter-xl-big {
			@mixin gutter-big;

			& > * {
				@mixin gutter-col-big;
			}
		}
	}

	@media (--screen-xxl) {
		&.gutter-xxl-default {
			@mixin gutter-default;

			& > * {
				@mixin gutter-col-default;
			}
		}

		&.gutter-xxl-medium {
			@mixin gutter-medium;

			& > * {
				@mixin gutter-col-medium;
			}
		}

		&.gutter-xxl-big {
			@mixin gutter-big;

			& > * {
				@mixin gutter-col-big;
			}
		}
	}

	@media (--screen-xxxl) {
		&.gutter-xxxl-default {
			@mixin gutter-default;

			& > * {
				@mixin gutter-col-default;
			}
		}

		&.gutter-xxxl-medium {
			@mixin gutter-medium;

			& > * {
				@mixin gutter-col-medium;
			}
		}

		&.gutter-xxxl-big {
			@mixin gutter-big;

			& > * {
				@mixin gutter-col-big;
			}
		}
	}
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.align-items-stretch {
	align-items: stretch;
}

.align-items-center {
	align-items: center;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-initial {
	align-items: initial;
}

.justify-content-flex-start {
	justify-content: flex-start;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-initial {
	justify-content: initial;
}
